{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 53.46189043285914,
    "longitude": 8.986816406250002,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "MBP",
    "time_zone": "Europe/Berlin",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "DE",
    "language": "de"
  }
}